
	<div class="content">
		<h2 class="centered headrow"><%= @recipe.name %></h2>
		<h3>Chef: <%= link_to @recipe.user.username, '/chefs/' + @recipe.user.username.parameterize(separator: '-') %></h3>
				<% if current_user == @recipe.user %>
					<%= link_to 'Edit Recipe', '/recipes/' + @recipe.name.parameterize(separator: '-') + '/edit/', class: 'btn' %>
				<% end %>
		<p>Instructions: <%= @recipe.instructions %></p>
		<h5> Ingredients Used in this Recipe: </h5>
			<div class="container">
				<% for ingredient in @recipe.ingredients %>
					<%= link_to ingredient.name, '/ingredients/' + ingredient.name.parameterize(separator: '-'), class: 'bubble' %>
				<% end %>
				<% if current_user %>
					<%= button_to 'Add Ingredients to Cart', '', class: 'btn' %>
				<% else %>
					<%= link_to 'Sign in to shop!', '/signup', class: 'btn' %>
				<% end %>
			</div>
	</div>
