<!DOCTYPE html>
<html>
  <head>
    <title>RecipePartsPicker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div>
  	<nav>
    <div  class="nav-wrapper">
      <a href="#" class="brand-logo"><%= link_to 'Recipe Part Picker', '/', class: 'brand-logo' %></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        <% if current_user == nil %>
          <li><%= link_to 'Login', login_path %></li>
        <% else %>
          <li><%= link_to 'Cart', '/cart/show' %></li>
          <li><%= link_to 'Logout', logout_path %></li>
        <% end %>
      </ul>

    </div>
  </nav>
    <%= yield %>
   </div>
  </body>
</html>
